body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.color{
    color: orange;}

.flex-box-cotainer{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
width: 80%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange , red);
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.top-banner{
    background-image: url(./image/top-banner.png);
    background-repeat: no-repeat;
}
.banner-image2{
    background-image: url(./image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.web-developer{
box-shadow: 10px 10px 40px gray;
width: 40%;
margin-left: 5%;
margin-right: 5%;
padding-left: 20px;
border-radius: 5px;
}
.section-3{
    background-image: url(./image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-dev{
    border-image: linear-gradient(rgb(110, 240, 24), rgb(235, 11, 41));
    border-left: 7px solid;
    border-image-slice: 1;
}
#fon-end-dev{
    border-image: linear-gradient(red, blue);
    border-left: 7px solid;
    border-image-slice: 1;
}